@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body {
  margin: 0px;
  padding: 0px;
  --main-bg: #e5e7eb;
  background-color: var(--main-bg);
  font-family: "Montserrat", sans-serif;
}
.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.header {
  height: 100px;
  width: 100vw;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 10px 24px, rgba(0, 0, 0, 0.22) 0px 6px 6px;
  margin-bottom: 50px;
}
h1 {
  margin-left: 40px;
  font-size: 40px;
  font-weight: bold;
}
.overlay {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form {
  background-color: white;
  display: grid;
  gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.close-button {
  justify-self: end;
  background-color: white;
  border: none;
  font-size: large;
}
.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 20px;
}
#newDiv {
  background-color: white;
}
.createbook {
  display: flex;
  justify-content: center;
}
.createbook button {
  font-size: 30px;
  background-color: #0ea5e9;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
}
.createbook button:hover {
  background-color: #00aeff;
}
/* FIX STUFF*/
